<%# NOT NEEDED ANYMORE %>

<h1>Add a Movie</h1>


<%= simple_form_for [@list, @bookmark] do |f| %> <%# Needs @list first because @bookmark is nested inside it %>
  <%# How to select a movie from the data base via a dropdown?! %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to #{@list.name}", lists_path %>

<%# http://localhost:3000/bookmarks/new %>
