<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%# How to select a movie from the data base via a dropdown?! %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to #{@list.name}", lists_path %>

<%# http://localhost:3000/bookmarks/new %>
